source_up
export GOMOD=$PWD
PATH="$GOMOD/bin:$PATH"
export SERVER_HOST="https://comp3007-f25.scs.carleton.ca"
export RESEND_API_KEY="re_SQV59dB5_99r4hPfyMPucSXSUHqkGWwXe"
export FROM_EMAIL="mail@doughowe.ca"
